:root {
  --bg-color: #C5CBD3;
}

body {
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: 600;
  line-height: 1.6;
  background-color: var(--bg-color);
  height: 100vh;
}

.main {
  position: relative;
  height: 100%;
  padding: 30px;
  background-color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
}

.main-nav {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
}
.main-nav-logo h1 {
  display: flex;
  margin: 0;
  align-items: center;
  font-size: 30px;
}

.main-nav-list,
.links-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.main-nav-item a,
.link-item a {
  color: #393939;
  text-decoration: none;
}

.main-nav-item a {
  margin: 0 40px;
}

.link-item a {
  margin: 0 10px;
}

.content {
  height: 80vh;
  display: flex;
  position: relative;
}

.side-left-content,
.side-right-content {
  display: flex;
  width: 10%;
}

.side-left {
  display: flex;
  position: absolute;
  left: -68px;
  top: 50%;
  transform: rotate(-90deg);
}

.side-right {
  display: flex;
  position: absolute;
  right: -50px;
  top: 50%;
  transform: rotate(-90deg);
}

.side-middle {
  display: flex;
  padding: 0 30px;
  align-items: center;
}

.middle-content h2 {
  font-size: 50px;
  width: 70%;
  padding-bottom: 70px;
}

.line {
  display: flex;
  width: 25%;
  justify-content: space-between;
}

.middle-line {
  border-bottom: 1px solid #000;
  line-height: 0;
}

.svg {
  position: absolute;
}

.svg-1 {
  z-index: -2;
  fill: #fff;
  height: 697px;
  right: -1725px;
  top: 92px;
}

.svg-2 {
  z-index: -1;
  fill: #886176;
  height: 1000px;
  right: -261px;
  top: -574px;
  transform: rotate(128deg);
}

.svg-3 {
  z-index: -3;
  fill: #84894A;
  height: 2000px;
  right: -587px;
  top: -615px;
  transform: rotate(-27deg);
}

.svg-4 {
  z-index: -2;
  fill: #fff;
  height: 800px;
  right: -300px;
  top: -251px;
  transform: rotate(180deg);
}
