:root {
  --bg-color: #c5cbd3;
}

body {
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: 600;
  line-height: 1.6;
  background-color: var(--bg-color);
  height: 100vh;
}

.main {
  position: relative;
  height: 100vh;
  padding: 30px;
  background-color: var(--bg-color); /*-----probar color */
  z-index: 1;
  overflow: hidden;
}

.main-nav {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
}
.main-nav-logo h1 {
  display: flex;
  margin: 0;
  align-items: center;
  font-size: 30px;
}

.main-nav-list,
.links-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-around;
}

.main-nav-item {
  margin-bottom: 8px;
}

.main-nav-item a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 0 40px;
}

.link-item a {
  margin: 0 10px;
  color: #000;
  text-decoration: none;
}

.link-item a:hover {
  border-bottom: 1px solid #000;
}

.content {
  height: 80vh;
  display: flex;
  position: relative;
}

.side-left-content,
.side-right-content {
  display: flex;
  width: 10%;
}

.side-left {
  display: flex;
  position: absolute;
  left: -68px;
  top: 50%;
  transform: rotate(-90deg);
}

.side-right {
  display: flex;
  position: absolute;
  right: -50px;
  top: 50%;
  transform: rotate(-90deg);
}

.side-middle {
  display: flex;
  padding: 0 30px;
  align-items: center;
}

.middle-content h2 {
  font-size: 50px;
  width: 70%;
  padding-bottom: 70px;
}

.line {
  display: flex;
}

.line-num {
  display: flex;
  margin: 0 10px;
  justify-content: center;
  align-items: center;
}

.middle-line {
  min-width: 90px;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1;
  margin-bottom: 10px;
}

.svg {
  position: absolute;
}

.svg-1 {
  z-index: -2;
  fill: #fff;
  height: 697px;
  right: -1725px;
  top: 92px;
}

.svg-2 {
  z-index: -1;
  fill: #886176;
  height: 1000px;
  right: -261px;
  top: -566px;
  transform: rotate(134deg);
}

.svg-3 {
  z-index: -3;
  fill: #84894a;
  height: 2000px;
  right: -587px;
  top: -615px;
  transform: rotate(-27deg);
}

.svg-4 {
  z-index: -2;
  fill: #fff;
  height: 800px;
  right: -300px;
  top: -251px;
  transform: rotate(180deg);
}

/*--------------------About-----------------------*/

.about {
  height: 100vh;
  padding: 30px;
}

.about-title {
  text-align: center;
  margin: 20px 0;
}

.about-content {
  display: flex;
  margin: auto;
  width: 70%;
  background-color: gray;
  height: 65vh;
}

 .left-content{
  width: 50%;
  background-color: blue;
  padding: 5rem;
  font-size: 1vw;
}

.right-content {
  width: 50%;
  background-color: red;
}
